/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 .card-header{
  background-color: #CCCCCC;
  
 }
 .card{
  margin-top: 10px;
 }

 .jumbotron{
    padding-top: 10px;
    height: 1000vh;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-color: #F5F5F5;
 }
 

 .select1 {
    width: 225px;
    height: 40px;
    cursor: pointer;
    background-color: #EEEEEE;
    box-shadow: 0 2px 0 gray;
    border-radius: 7px;
 }
.btn-h{
  margin : 5px ;
}

ul li {
  line-height: 1.5;
  padding: 0.5em 0;
 
  font-size: 25px;
}



 /*カテゴリー新規登録ボタン*/
 .newctg {
  color: #001100;
  font-size: 26px;
 }
 
 .table table-striped table-bordered{
  width: 50px;
 }
 
 .baktop{
  color: teal;
  
 }

 
.content {
  color: navy;
 }
 
 .child {
 
  display: inline;
}

textarea {
	resize: none;
	width: 750px;
	height: 450px;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer{
  width: 100%;
    background-color:#444444;
    text-align: center;
    padding: 5px 0;
    color: white;
    
     flex:0 0 auto;
}

